*{
    background-color : #dba253; 
    margin : 0;
    padding : 0;
    }
    h1{
        color : black;
        background-color : #973f00;
        text-align : center;
        font-size : 40px;
        padding : 40px;
    }
    ul{
      list-style : none;
      padding : 20px;
      text-align : center;
    }
    li{
    display : inline;
    margin : 015px;
    }
    a{
      color : #2e6200;
      text-decoration : none;
      font-weight : bold;
    }
    h2
    {
      color :black ;
      padding : 15px;
    }
    .p1{
    color : #973f00;
    padding : 15px ;
    }
    .p2{
    color : #973f00;
    padding : 15px;
    }
    .p3{
    color : black ;
    padding : 15px ;
    }
    .content{
    height: 520px;
    }
    #info{
      height : 700px;
      background-color : #dba253;
    }
    #contact{
      height : 700px;
      background-color : #dba253;
    }
    #hubpages
    {
      height : 700px;
      background-color : #dba253;
    }